version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_api_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: gestionClinica_db
      MYSQL_USER: user_dev
      MYSQL_PASSWORD: passwordSecreta_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: